<!DOCTYPE html>
<html>
<head>
<title>Artists</title>
    <link rel="stylesheet" type="text/css" href="homeStyle.css">
    <style type="text/css">
        body{
        	background-color: black;
          color: white;
        }
        A:link {text-decoration:none;color:#FF0080;}
        A:visited {text-decoration:none;color:#FF0080;}
        A:active {text-decoration:none;color:#FF0080;}
        A:hover {text-decoration:underline;color:#FF0080;}
    </style>
</head>
<body>
	<h1>Artists</h1>
<ol>
  <% @artist.each do |artist|%>
    <li>
      <%= link_to artist.name, root_path%>
   </li>
  <% end %>
</ol>
<%= link_to 'Home', root_path %>
</body>
</html>